<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="http://github.com/tcloetingh">Tyler Cloetingh</a>. A training developer whose skills are built on the foundations of C. Learning everyday in this ever changing industry the expertise needed to program with the best.
  <br />
  <p>
    Coming from an environmental background working with electric utilities he has experience in a large industry with large challenges. The problem solving mindset learned there translates well into developing. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'profilec.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Tyler Cloetingh</h2>
        <br />
        <p>
          Tyler is a web developer and in a past life is a forestry consultant for utility companies. Interests include arts, leisure, and typical guy activities. 
        </p>
      </div>
    </div>
    <br class="clear" />
    <br />
    <br />
    <br />
    <br />


</div>