@font-face {
    font-family: 'bebas_neueregular';
    src: font_url('bebasneue-regular-webfont.woff2') format('woff2'),
        font_url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}